Src/meetDoc/node_modules
Src/meetDoc/pupublic/hot
Src/meetDoc/public/storage
Src/meetDoc/storage/*.key
Src/meetDoc/vendor
Src/meetDoc/.env
Src/meetDoc/.env.backup
Src/meetDoc/.phpunit.result.cache
Src/meetDoc/Homestead.json
Src/meetDoc/Homestead.yaml
Src/meetDoc/npm-debug.log
Src/meetDoc/yarn-error.log
Src/meetDoc/.idea
Src/meetDoc/.vscode
Src/meetDoc/composer.lock
Src/meetDoc/package-lock.json
.idea
.vscode